<p *ngIf="condition; else elseBlock">True</p>
<ng-template #elseBlock>
  <p>False</p>
</ng-template>

<hr>

<p *ngIf="conditionClick">True</p>

<p *ngIf="!conditionClick">False</p>

<button (click)="onClick()">Clicar</button>

<hr>

<ul>
  <li *ngFor="let item of list; let i = index;" (click)="onClickEventList(i)">
   [{{i}}] - {{item.nome}} tem {{item.idade}} anos.
  </li>
</ul>

<button (click)="onClickAdd()">Add</button>

<hr>

<input type="text" [(ngModel)]="nome" >

<div [ngSwitch]="nome">
  <p *ngSwitchCase="'filemon'">Filemon</p>
  <p *ngSwitchCase="'taiana'">Taiana</p>
  <p *ngSwitchDefault>Theo</p>

</div>

